<%= form_for([author]) do |f| %>
  <div class="box-body">
    <% if author.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

        <ul>
          <% author.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="container" style="margin:0% 22%;">
    <div class="form-group">
      <div class="field">
        <%= f.label :firstname %>
        <%= f.text_field :firstname, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :lastname %>
        <%= f.text_field :lastname, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate, class: 'form-control' %>
      </div>
    </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-info' %>
    </div>
  </div>
<% end %>
